version: "3.9"

services:
  api:
    build: .
    container_name: chicago_mobility_api
    ports:
      - "8000:8000"
    environment:
      - PYTHONUNBUFFERED=1
    command: uvicorn app.fastapi_app:app --host 0.0.0.0 --port 8000
